/* nền giữa màn hình */

.login-wrapper{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#6a11cb,#2575fc);
}


/* card login */

.login-card{
  background:white;
  padding:40px;
  border-radius:10px;
  width:300px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  text-align:center;
}


/* tiêu đề */

.login-card h2{
  margin-bottom:25px;
}


/* input */

.login-card input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:14px;
}


/* button */

.login-card button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#2575fc;
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.login-card button:hover{
  background:#1a5edb;
}


/* error message */

.error{
  color:red;
  font-size:13px;
  margin-top:10px;
}
.success{
  color:green;
  margin-top:10px;
  font-size:14px;
}

.error{
  color:red;
  margin-top:10px;
  font-size:14px;
}
