<h3 class="text-center">ĐĂNG KÝ KHÓA HỌC</h3>

<div class="mb-3">
  <label>Tên:</label>
  <input class="form-control" formControlName="name" readonly>
</div>

<div class="mb-3">
  <label>Email:</label>
  <input class="form-control" formControlName="email" readonly>
</div>

<div class="mb-3">
    <label for="password">Password:</label>
    <input 
      type="password" 
      class="form-control" 
      id="password" 
      formControlName="password"
      [class.is-invalid]="password.invalid && password.touched">
    
    <small 
      class="text-danger" 
      *ngIf="password.errors?.['required'] && password.touched">
      Bạn chưa nhập mật khẩu
    </small>
    </div>

    <div class="mb-3">
    <label for="confirmPass">Confirm form:</label>
    <input 
      type="password" 
      class="form-control" 
      id="confirmPass" 
      formControlName="confirmPass"
      [class.is-invalid]="confirmPass.invalid && confirmPass.touched">
      <small class="text-danger" *ngIf="regForm.errors?.['misMatch'] && confirmPass.touched">
        Mật khẩu không trùng khớp
      </small>
  </div>

<!-- <div class="mb-3">
    <label for="password">Password:</label>
    <input 
      type="password" 
      class="form-control" 
      id="password" 
      formControlName="password"
      [class.is-invalid]="password.invalid && password.touched">
    
    <small 
      class="text-danger" 
      *ngIf="password.errors?.['required'] && password.touched">
      Bạn chưa nhập mật khẩu
    </small>
    </div>

    <div class="mb-3">
    <label for="confirmPass">Confirm form:</label>
    <input 
      type="password" 
      class="form-control" 
      id="confirmPass" 
      formControlName="confirmPass"
      [class.is-invalid]="confirmPass.invalid && confirmPass.touched">
      <small class="text-danger" *ngIf="regForm.errors?.['misMatch'] && confirmPass.touched">
        Mật khẩu không trùng khớp
      </small>
  </div> -->

  <!-- Nút để load default values -->
  <!-- <button type="button" class="btn btn-secondary" (click)="setDefaultValues()">
    Default values
  </button> -->