.student-card{

  width:220px;
  text-align:center;
  padding:20px;

  border:1px solid #ccc;
  border-radius:10px;

  background:white;

  margin:auto;

  animation: moveUpDown 3s infinite ease-in-out;
}

.avatar{

  width:120px;
  height:120px;

  border-radius:50%;

  object-fit:cover;

  margin-bottom:10px;
}

.student-card h2{
  font-size:18px;
  margin:5px 0;
}

.student-card p{
  font-size:14px;
  color:#555;
}

/* animation */

@keyframes moveUpDown{

  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-20px);
  }

  100%{
    transform: translateY(0px);
  }

}
