<!-- LOGIN -->
<app-login
  *ngIf="!isLoggedIn"
  (loginSuccess)="loginSuccess()">
</app-login>


<!-- MAIN APP -->
<div *ngIf="isLoggedIn">

  <!-- B : MENU -->
  <div class="menu-bar">
    <ul>

      <li>
        <a routerLink="/shopping">SHOPPING</a>
      </li>
      <li><a href = "#">CARTS</a>
        <ul>
          <li>
            <a routerLink="/cart">CURRENT CART</a>
          </li>

     <li *ngIf="role=='employee'">
        <a routerLink="/revenue">REVENUE STATISTICS</a>
      </li>

      <li *ngIf="role=='employee'">
        <a routerLink="/vip">VIP CUSTOMERS</a>
      </li>
        </ul>
      </li>

      <li class="welcome">
        <a (click)="logout()">Welcome {{username}}</a>
      </li>

    </ul>
  </div>


  <!-- MAIN LAYOUT -->
  <div class="layout">

    <!-- A : ABOUT -->
    <div class="sidebar">
      <app-about></app-about>
    </div>

    <!-- C : CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
