/* MENU */
.menu-bar{
  background:#333;
}

.menu-bar ul{
  list-style:none;
  display:flex;
  margin:0;
  padding:0;
}

.menu-bar li{
  padding:14px 20px;
}

.menu-bar a{
  color:white;
  text-decoration:none;
}

.welcome{
  margin-left:auto;
}

/* LAYOUT */
.layout{
  display:flex;
}

/* A */
.sidebar{
  width:30%;
  border-right:1px solid #ddd;
  padding:20px;
}

/* C */
.content{
  width:70%;
  padding:20px;
}
